*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #F6F6F6;
	min-height: 100vw;
	overflow-x: hidden;
}

header{
	background: #000;
	height: 105px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.logo{
	width: 30%;
	height: 105px;
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
}

.imagen{
	width: 25%;
	height: 70%;
	margin-right: 5px;
}

.titulo{
	width: 60%;
	height: 100%;
	display: flex;
	align-items: center;
}

.imagen img{
	width: 100%;
	height: 100%;
}

.titulo a{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 25px;
	font-weight: 700;
	color: #fff;
}

.head {
	width: 100vw;
	height: 32%;
	display: flex;
	align-items: center;
	padding-left: 85%;
}

.head a{
	text-decoration: none;
	color: #ccc;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: normal;
}

.head a:hover{
	text-decoration: underline;
}

.user{
	width: 10px;
	height: 10px;
}

.header{
	background: #333;
	height: 68%;
	width: 100vw;
	display: flex;
	align-self: flex-end;
	box-shadow: 0px 10px 25px 0px rgba(50,50,50,0.75);
}

.lista{
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 35%;
	box-sizing: border-box;
	list-style: none;
}

.lista li a{
	text-decoration: none;
	color: #ccc;
	font-size: 14px;
	font-family: sans-serif;
}

.lista li a:hover{
	color: #62b446;
}

.site{
	display: flex;
	flex-direction: column;
}

.site_content{
	flex: 1;
}

h1{
	font-size: 1.6rem;
	font-family: sans-serif;
	font-weight: 500;
	text-align: center;
	color: #333;
}

.section{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

form{
	width: 390px;
	height: 450px;
	background: #fff;
	margin-top: 80px;
	margin-bottom: 70px;
	padding: 70px 0;
	box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.25);
}

.form{
	width: 100%;
	margin: auto;
}

form .grupo{
	position: relative;
	margin: 45px;
}

input{
	background: none;
	color: #c6c6c6;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #49454567;
}

input:focus{
	outline: none;
	color: #5e5d5d;
}

label{
	color: #49454567;
	font-size: 16px;
	position: absolute; 
	left: 5px;
	top: 10px;
	transition: 0.5s ease all;
	pointer-events: none;
}

input:focus~label,
input:valid~label{
	top: -14px;
	font-size: 12px;
	color: #62b446;
}

.barra{
	position: relative;
	display: block;
	width: 100%;
}

.barra::before{
	content: "";
	height: 2px;
	width: 0%;
	bottom: 0;
	position: absolute;
	background: -webkit-linear-gradient(to right, #52c234, #061700);
	background: linear-gradient(to right, #52c234, #061700);
	transition: 0.3s ease width;
	left: 0;
}

input:focus~.barra::before{
	width: 100%;
}

button{
	font-family: sans-serif;
	background: #62b446;
	border: none;
	display: block;
	width: 80%;
	margin: 10px auto;
	color: #fff;
	height: 40px;
	font-size: 16px;
	cursor: pointer;
}

button:hover{
	background: #3a7028;
}

.link{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
	cursor: pointer;
	color: #4267b2;
}

@media screen and (max-width: 500px){

	form{
		width: 90%;
		height: 410px;
	}

	form .grupo{
		margin: 35px;
	}

	header{
		height: 300px;
	}

	.header{
		height: 70%;
	}

	.head{
		padding-left: 0px;
		justify-content: center;
		align-items: flex-start;
		margin-top: 10px;
	}

	.logo{
		width: 100%;
		height: 90px;
		margin-top: 25px;
	}

	.lista{
		display: block;
	}

	.lista li{
		margin-top: 25px;
	}

	.lista li a{
		font-size: 16px;
	}

	footer{
		text-align: center;
	}
}

@media screen and (max-width: 1200px){
	.titulo a{
		font-size: 20px;
	}
}

footer{
	background: #000;
	height: 120px;
	width: 100vw;
	display: flex;
	justify-content: center;
}

footer p{
	display: flex;
	max-width: 90%;
	font-family: sans-serif;
	font-size: 13px;
	color: white;
	align-items: center;
}